.authButton {
	width: 100%;
	height: fit-content;
	padding: 12px 0;

	cursor: pointer;
	transition-duration: 300ms;

	color: var(--white);
	border: none;
	border-radius: 9999px;
	outline: none;
	background: var(--primary);

	font-size: 24px;
}

.authButton:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	filter: brightness(0.95);
}

.button_loading {
	display: grid;
	align-items: center;
	justify-items: center;

	cursor: not-allowed;
}

@media (min-width: 1024px) {
	.authButton:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		filter: brightness(0.95);
	}
}

@media (max-width: 1024px) {
	.authButton {
		font-size: 22px;
	}
}

@media (max-width: 580px) {
	.authButton {
		font-size: 18px;
	}
}

@media (max-width: 320px) {
	.authButton {
		font-size: 14px !important;
	}
}
