.profileBlock {
	display: grid;

	width: 50%;
	height: fit-content;

	justify-items: start;
	gap: 40px;
	margin-bottom: 40px;
}

.userInfoDiv {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 40px;

	align-items: center;
}

.imageDiv {
	display: grid;
	overflow: hidden;

	width: 115px;
	height: fit-content;

	border-radius: 9999px;

	background: var(--primary);
}

.image {
	width: 100%;
	height: 100%;
}

.userInfo {
	display: grid;
	align-items: center;

	width: fit-content;
	height: fit-content;
	gap: 10px;
	justify-items: start;
}

.username {
	font-weight: 700;
}

.email {
	font-weight: 500;
}

.logOut {
	cursor: pointer;
	transition-duration: 300ms;

	font-weight: 700;
}

.logOut:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--error);
}

.buttonsDiv {
	display: grid;

	width: 50%;
	grid-template-columns: auto;
	justify-items: center;
	gap: 20px;
}

.buttonsDivOwner {
	width: max-content;
	grid-template-columns: auto auto;
}

@media (min-width: 1024px) {
	.logOut:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--error);
	}
}

@media (max-width: 1024px) {
	.profileBlock {
		width: 75%;
		margin-top: 40px;
	}

	.switchButtonsDiv {
		width: 70%;
	}
}

@media (max-width: 580px) {
	.profileBlock {
		justify-items: center;
	}

	.userInfoDiv {
		display: grid;
		grid-template-columns: auto;
		justify-items: center;
	}

	.buttonsDiv {
		width: 100%;
	}

	.imageDiv {
		width: 90px;
		height: 90px;
	}
}
