.profileBlock {
	display: grid;

	width: 50%;
	height: fit-content;

	justify-items: start;
	gap: 40px;
	margin-top: 40px;
}

.userInfoDiv {
	display: grid;
	grid-template-columns: auto 1fr;
	gap: 40px;

	align-items: center;
}

.imageDiv {
	display: grid;
	overflow: hidden;

	width: 115px;
	height: fit-content;

	border-radius: 9999px;

	background: var(--primary);
}

.image {
	width: 100%;
	height: 100%;
}

.userInfo {
	display: grid;
	align-items: center;

	width: fit-content;
	height: fit-content;
	gap: 20px;
	justify-items: start;
}

.username {
	font-weight: 700;
}

.email {
	font-weight: 500;
}

.buttonsDiv {
	display: grid;

	width: 50%;
	grid-template-columns: auto;
	gap: 20px;
}

.buttonsDivOwner {
	grid-template-columns: auto auto;
}

@media (max-width: 1024px) {
	.profileBlock {
		width: 75%;
		padding: 60px;
	}

	.switchButtonsDiv {
		width: 70%;
	}
}

@media (max-width: 580px) {
	.profileBlock {
		justify-items: center;

		padding: 30px;
	}

	.userInfoDiv {
		display: grid;
		grid-template-columns: auto;
		justify-items: center;
	}

	.buttonsDiv {
		width: 100%;
	}

	.imageDiv {
		width: 90px;
		height: 90px;
	}
}
