html,
body {
	margin: 0;
	padding: 0;

	-webkit-user-select: auto;
	-moz-user-select: auto;
	-ms-user-select: auto;
	user-select: auto;

	background: var(--white);

	font-family: 'Nunito Sans', sans-serif;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
}

::-moz-focus-outer,
::-moz-focus-inner {
	border: 0;
}

::-webkit-scrollbar {
	width: 9px;
	height: 9px;
}

.react-calendar__month-view__days__day--weekend {
	color: var(--error) !important;
}

.react-calendar__navigation,
.react-calendar__tile--active,
.react-calendar__navigation__label {
	color: var(--white) !important;
	background: var(--primary) !important;
}

.react-calendar__navigation > button {
	color: var(--white);
}

.react-calendar__tile {
	border-radius: 5px;
}

.react-calendar__month-view__days__day--neighboringMonth {
	color: var(--gray) !important;
}

.react-calendar__tile--now {
	color: var(--white) !important;
	background: var(--accent) !important;
}

@media (max-width: 480px) {
	::-webkit-scrollbar {
		width: 5px;
		height: 5px;
	}
}

::-webkit-scrollbar-track {
	background-color: var(--background);
}

::-webkit-scrollbar-thumb {
	border-radius: 30px;
	background-color: var(--primary);
}

a {
	text-decoration: none;
}

:root {
	--primary: #21C1FF;
	--background: #FFFBFB;
	--white: white;
	--dark: #10122A;
	--error: #FF1500;
	--accent: #3374FF;
	--second: #5F6332;
	--secondDark: #6E7E68;
	--third: #DFE4DE;
	--fourth: #EEF4ED;
	--accentDark: #598F81;
	--gray: #B9B9B9;
	--grayDarker: #949494;
	--input: #F7F7FD;
	--text: #0C2F26;
	--textLight: #196250;
	--font-family: 'Nunito Sans', sans-serif;
}
