.profileHeader {
	display: grid;
	align-items: center;

	width: 100%;
	height: fit-content;
	margin-top: 90px;
	grid-template-columns: 50% 50%;
	justify-items: center;
}

.profileHeaderText {
	padding-bottom: 5px;

	cursor: pointer;
	transition-duration: 300ms;

	border-bottom: 1px solid var(--dark);
}

.profileHeaderText:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	color: var(--primary);
	border-color: var(--primary);
}

@media (min-width: 1024px) {
	.profileHeaderText:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		color: var(--primary);
		border-color: var(--primary);
	}
}
