.wrapper {
	display: grid;

	width: 100%;
	justify-items: center;
	gap: 40px;
}

.title {
	margin-top: 96px;

	font-family: Playfair Display, sans-serif;
}

@media (max-width: 1024px) {
	.wrapper {
		display: grid;
		gap: 30px;
	}
}
