.mapTabs {
	display: grid;
	gap: 20px;
}

.line {
	width: 100%;
	height: 2px;

	background: var(--primary);
}

.tabItem {
	width: 100% !important;
	padding: 20px 0;

	cursor: pointer;
	user-select: none;
	transition-duration: 300ms;

	color: var(--primary);
}

.tabItem:active {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

	background: var(--white);
}

.arrowDiv {
	display: grid;
	align-items: center;

	width: 100%;
	grid-template-columns: 1fr auto;
}

.arrow > svg {
	fill: var(--primary);

	width: 24px;
}

@media (min-width: 1024px) {
	.tabItem:hover {
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

		background: var(--white);
	}
}
